<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="myfooter">
                    <i class="fa fa-copyright" aria-hidden="true">All Copyright Reserve Arif Mahamud</i>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 style="font-size: 15px;">Contact us</h1>
                <ul>
                    <li><b>Email:</b><p>arifmahamud022@gmail.com</p></li>
                    <li><b>Phone No :</b> <p>01745314902</p></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>