<!DOCTYPE html>
<html>
  <head>
    <title>wcm</title>
    <%- include('link'); -%>
  </head>
  <body>
    <%- include('header'); -%>
    <%- include('indexbody'); -%>
    


    


        



        







  





    










    <%- include('footer'); -%>
  </body>
</html>
